#navbar{
    width: 100%;
    background-color: rgba(253, 251, 251);
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    justify-content: center;
    align-items: center;
}
.menu{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-gap: 10px;
}
.home-btn{
    background-color: rgb(215, 212, 212);
    color: black;
    padding: 10px 20px;
    border-radius: 5px;
}
.about-btn{
    background-color: rgb(215, 212, 212);
    color: black;
    padding: 10px 20px;
    border-radius: 5px;
}
.insert-btn{
    background-color: rgb(215, 212, 212);
    color: black;
    padding: 10px 20px;
    border-radius: 5px;
}
.logo{
    width: 100%;
    margin-top: 5px;
    margin-left: 10px;
    margin-bottom: 5px;

}
.search{
    margin-top: 13px;
    
}
.user{
    margin-top: 18px;
    margin-left: 10px;
}

