
.menu{
    margin-top: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-gap: 10px;
}
.ham{
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 20px;
}
.home-btn{
    background-color: rgb(215, 212, 212);
    color: black;
    padding: 10px 20px;
    border-radius: 5px;
}

.logo{
    width: 100%;
    margin-top: 5px;
    margin-left: 10%;
    margin-bottom: 5px;
    gap: 10px;
}

.logo button{
    padding: 10px;
}
.search{
    width: 60%;
    margin-top: 13px;
    margin-left: 20%;
}
.user{
    display: flex;
    margin-top: 10px;
    margin-left: 30%;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.logout, .name, .img {
    display: flex;
    align-items: center;
}

.logout form {
    margin: 0;
    display: flex;
    align-items: center;
}

.logout .btn-ham {
    width: 100%;
    text-align: center;
    font-size: 20px;
    color: black;
    padding: 5px 10px;
}

.name label {
    margin: 0;
}

.img img {
    width: 30px;
    height: 30px;
    border-radius: 10px;
}

